.container {
	color: black;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 20px;
	gap: 20px;
}
.billionaire {
	cursor: pointer;
}
.billionaire img {
	cursor: pointer;
	max-width: 100%;
	border-radius: 12px;
	transition: transform 0.2s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.billionaire:hover img {
	transform: scale(1.05) translateY(-10px);
}
.billionaire h4 {
	font-size: 14px;
	font-weight: 400;
	line-height: 100%;
	text-align: left;
}
.billionaire h5 {
	font-size: 10px;
	font-weight: 100;
	text-align: left;
	line-height: 100%;
	margin-bottom: 20px;
}
